API_HOST=github
GITHUB_MODEL=gpt-4o
GITHUB_TOKEN=tu_token_de_github_aqui


# modelos disponibles: **Perooo... hay que revisar que tengan compatibilidad con llamaIndex
# openai/gpt-4.1, gpt-4o, gpt-4o-mini, mistral-ai/mistral-small-2503, cohere/Cohere-command-r-08-2024 


# entre otros para mas modelos se puede revisar: https://github.com/marketplace?type=models